body, menu {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
}

menu {
    display: flex;
    background-color: #fff;
    border-style: solid;
    border-color: #e8ebe4;
    padding: 0;
}

menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* min-height: 100vh; */
    width: 200px;
}

menu li {
    padding: 0.5em;
    list-style: none;
    border-bottom: solid;
    border-color: #e8ebe4;
    /* width: 2px; */
    height: 55px;
    padding-left: 20px;
    width: 90%;
}

menu img {
    border-radius: 50%;
    width: 40px;
    margin-top: 5px;
}

menu img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    padding: 2px;
}

menu button {
    background-color: #a491d2;
}

.button {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 15px;
    border-radius: 5px;
    padding: 5px 10px;
}

menu button:hover {
    background-color: #cdc3e6;
}

menu button:focus {
    border: 1px solid #bec1bb;
}

menu a {
    text-decoration: none;
    color: #1b1f21;
    font-size: 14px;
}

menu a:hover {
    color: #444749;
    padding-right: 6px;
}

menu p {
    padding-left: 10px;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content_maria {
    display: flex;
}

.text_icon{
    display: flex;
}
.chat_maria {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.icon {
    display: flex;
}
.chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.texto {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.texto_secundario {
    font-size: 11px;
    font-weight: 300;
    margin: 0;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5EFF5;
    flex-basis: 100%;
    text-align: center;
}

.principal, h2 {
    font-family: 'Open-sans', sans-serif;
}

.principal img {
    width: 300px;
}